<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
</head>
<body>
<form method="POST" action="sumar">
  <%= csrf_token_field %>
  <label>Ingrese operandos:</label>
  <input id="op1" type="number" name="operando1"/>
  <input id="op2" type="number" name="operando2"/>
  <input type="submit" id="sumar"/>
</form>
<div id="resultado">El resultado de tu suma es: <%= @resultado %></div>
</body>